h1{
    text-transform:uppercase;
    text-align:center;
}

h2{
    text-transform:capitalize;
}

h3{
    text-transform:capitalize;
}

.round{
    border-radius:5%;
}

.square{
    width:10%;
    height:10%;
}

.bigsquare{
    width:20%;
    height:20%;
}

.circle{
    border-radius:50%;
}

.dark{
    background-color:#666666;
    border-color:black;
}

.dark h1, .dark h2, .dark h3{
    color:white;
}

.dark p{
    color:white;
}

.light{
    background-color:#b3d9ff;
    border-color:#b3d9ff;
}

.light h1, .light h2, .light h3{
    color:black;
}

.light p{
    color:#666666;
}

.round.dark, .round.light{
    width:500px;
}

.round.light{
    margin-left:100px;
}
